page-lista-de-provedores{
  .fondo{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(../home/FootosEstaticas/FondoDePatntalla.png);
  }

}
